$primary: var(--el-color-primary);
$success: var(--el-color-success);
$warning: var(--el-color-warning);
$danger: var(--el-color-danger);
$error: var(--el-color-error);
$info: var(--el-color-info);

$bg-color: var(--el-bg-color);
$bg-color-page: var(--el-bg-color-page);
$bg-color-overlay: var(--el-bg-color-overlay);
$color-scheme: var(color-scheme);
$box-shadow: var(--el-box-shadow);
